.headerTop{
    margin:126px auto 0;
    width: 450px;
    background:#fff;   
    border-radius: 6px;
    min-height: 500px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.boxList{
    min-height: 500px;
    padding: 60px 0 0;
}
li{
   
    position: relative;
    cursor: pointer;
}

.input_grandSon{
    list-style-type: none;
    background: #eee;
    margin: 2px;
    padding: 5px 8px 6px 39px;
}
 

.divInput{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.checked{
    background: #888;
    text-decoration: line-through;
}

li.checked::before {
    content: '';
    position: absolute;
    border-color: red;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
    
}
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 2px 7px 7px 8px;
    cursor: pointer;
  }
  
  .close:hover {
    background-color: #f44336;
    color: white;
  }